@{
    ViewData["Title"] = "Error";
}

<h1>An error occurred!</h1>
<p>We’ve logged the issue and are working to fix it. Please try again later.</p>
<a href="/" class="btn btn-secondary">Go Back to Home</a>
